<h2><p><%= @article.title %></p></h2>
<p><%= @article.text %></p>

<h3>Comments for <%= @article.title %></h3>
<% if @article.comments.any? %>
  <ul>
    <% @article.comments.each do |comment| %>
      <li>
        <%= comment.thoughts %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>