<!DOCTYPE html>
<html>
<head>
  <title>Tripsales</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>You have successfully subscribed to Tripsales notifications.</h1>
  <h4>Why not signup for an account as well?</h4>
  <p>Click <%= link_to "HERE", signup_path %> and get started.</p>
</body>
<script type="text/javascript">
  
</script>
</html>
